body {
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
}

h1 {padding-left: 15px;
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
    color: maroon;
    text-shadow:whitesmoke 1px 1px 1px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 20px;
    color: wheat;
    background-color: maroon;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    width: 10rem;

}

nav ul li a {
    color: wheat;
    text-shadow: rgb(80, 0, 0) 1px 1px 3px;
    text-decoration: none;
}

article {
    margin: auto;
    width: 50%;
    height: 50%;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

article input {
    width: 100%;
    height: 25px;
    border: solid maroon 2px;
    border-radius: 10px;
    text-decoration-color: rgb(80, 0, 0) 1px 1px 3px;
    box-shadow: rgb(80, 0, 0) 1px 1px 3px;
}

article button {
    height: 70px;
    width: 100px;
    border-radius: 10%;
    background-color: maroon;
    color: wheat;
    font-size: large;
    text-shadow: rgb(80, 0, 0) 2px 2px 3px;
}

section button:hover {
    box-shadow:rgb(80, 0, 0) 1px 1px 1px;

}

footer {
    color: rgb(80, 0, 0) 1px 1px 1px;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer aside {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}