body {
  background-color: #ff80a0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 10px;
}

input {
  position: relative;
  top: 0;
  transition: top ease 0.025s;
}
input:hover {
  top: 100px;
}

.game-container {
  background-color: #66b2ff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
  background-color: lightpink;
  color: #07315a;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(248, 219, 180);
  color: #0a4580;
}

button:hover {
  background-color: #ffb366;
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}