/* html {
    /* padding: auto; */
    display: flex;
    flex-direction: row;
    align-self: center;
} */

main {
    /* padding: 20px auto; */
    /* align-self: center; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0%;
    top: 0%;
}

.background {
    width: 95%;
    height: 95%;
    left: 0%;
    top: 0%;
}

article {
    height: 15%;
    width: 20%;
    border: 3px solid white;
    position: fixed;
    left: 1%;
    top: 1%;
    font: bold 15px Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

article div {
    width: 100%;
    height: 25%;
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    padding-bottom: -10px;
    align-items: center;
}

h1 {
    background-color: rgba(235, 98, 191, 0.685);
    width: 100%;
    height: 10%;
    text-align: center;
    padding: -20px;
}

h2, h3 {
    background-color: rgba(23, 98, 191, 0.685);
    width: 50%;
    border-right: 2px solid white;
    padding-left: 15px;
    padding-bottom: -15px;
}

h4 {
    background-color: rgba(241, 221, 109, 0.685);
    border-top: 5px solid white;
    padding: 10px 10px;
}

.logo {
    height: 180px;
    width: 250px;
    display: block;
    position: absolute;
    right: 7%;
    top: 2.5%;
    opacity: .6;
}